{% extends 'base.html' %}

{% block title %}About Us - Plank's End{% endblock %}

{% block content %}
<section class="textblock">
    <h1>About Us</h1>
    <p>
        Plank's End is dedicated to bringing joy and excitement to families from all walks of life.
        Established in the spirit of adventure and community, our park offers a unique blend of
        thrilling rides and serene seaside experiences.
    </p>

    <div class="image-paragraph-container">
        <div class="image-paragraph">
            <img src="{{ url_for('static', filename='images/RyanMinneo.jpg') }}" alt="Ryan Minneo">
            <p class = "p">Ryan Minneo. Co-Founder and Plank's End Developer.</p>
        </div>
        <div class="image-paragraph">
            <img src="{{ url_for('static', filename='images/RyanNguyen.jpg') }}" alt="Ryan Nguyen">
            <p class = "p">Ryan Nguyen. Co-Founder and Ticketing Developer.</p>
        </div>
        <div class="image-paragraph">
            <img src="{{ url_for('static', filename='images/AlexanderMortillite.jpeg') }}" alt="Alexander Mortillite">
            <p class = "p">Alexander Mortillite. Co-Founder and Visionary.</p>
        </div>
    </div>
</section>
{% endblock %}
