{% extends 'base.html' %}

{% block title %} Home - Plank's End {% endblock %}

{% block content %}
<section class="textblock">
    <h1>Welcome to Plank's End!</h1>
    <p>
        Plank's End is a thrilling amusement park where family fun meets adventure!
        From heart-pounding roller coasters to delightful carousels, we have attractions
        for both the young and the young at heart. Whether you're seeking an adrenaline rush
        or a day of relaxation by the ocean, Plank's End has something for everyone.
    </p>
</section>
{% endblock %}
