canvas {
    border: 5px solid #8b5e3c;
    background-color: #e0dcc1;
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
}

#score, #highScore {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #8b5e3c;
}
